automatic yt video uploader.json
{
  "name": "automatic yt video uploader",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "2f40e9d0-3909-4ce3-b607-d7ec52a1757e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "not uploaded"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        -180
      ],
      "id": "ba949f35-a4b9-41df-a173-65e7e7b04706",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TF6lF3FHOYZrVN1V",
          "name": "ashuulape"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.link }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        120
      ],
      "id": "4a7695e2-4de9-4e2a-9f61-3c94f9bd6505",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YBSMDNlEUguuEjcf",
          "name": "aiauto"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        660,
        -40
      ],
      "id": "229d368a-8721-4ac9-a38c-5774ff696759",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "c0PtUreFzNNk67td",
          "name": "bogibogi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "uploaded",
            "link": "={{ $('Get row(s) in sheet').item.json.link }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        860,
        -200
      ],
      "id": "0f7b11a5-e648-4847-abf1-309cf12aff19",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TF6lF3FHOYZrVN1V",
          "name": "ashuulape"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wVzNTbVGV9-ubGOO_jDkgBdMiQbyDiWK-tXcqYv4dB8/edit#gid=0"
        },
        "startIndex": "={{ $('Download file').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        40
      ],
      "id": "1804f13e-6875-4eb7-9585-f476fe45a585",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TF6lF3FHOYZrVN1V",
          "name": "ashuulape"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "to delete",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        -300
      ],
      "id": "deaf83b9-6b56-4f56-93c2-0e0e5111ce91",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YBSMDNlEUguuEjcf",
          "name": "aiauto"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.link }}",
          "mode": "url"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1DALrUs1Cg_5SFHtfkC6mF0w9PZB7-v2s",
          "mode": "list",
          "cachedResultName": "to delete",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DALrUs1Cg_5SFHtfkC6mF0w9PZB7-v2s"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        -60
      ],
      "id": "a9eae2f9-0e7b-416d-8acd-d171c5b320dd",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YBSMDNlEUguuEjcf",
          "name": "aiauto"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "1DALrUs1Cg_5SFHtfkC6mF0w9PZB7-v2s",
          "mode": "list",
          "cachedResultName": "to delete",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DALrUs1Cg_5SFHtfkC6mF0w9PZB7-v2s"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        160
      ],
      "id": "cd41ab32-d2e9-472e-826e-d5f08556f6ae",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YBSMDNlEUguuEjcf",
          "name": "aiauto"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        -180
      ],
      "id": "34690769-c2af-4ef7-ac9e-38867bbe9150",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Delete folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1fe1cdc-4732-429c-b927-8e4d310bba60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f3a64a9b0ac9c1732ad4c6d982a12327da89ae8db6bd18b01517a504f401725"
  },
  "id": "ZhOSIF4sp6ZxRvmV",
  "tags": []
}